/* @font-face {
    font-family: Helvetica;
    src: url("./Helvetica/HelveticaNowDisplay-Black.ttf");
}

@font-face {
    font-family: 'Inter';
    src: url("./Inter/Inter-VariableFont_slnt\,wght.ttf");
} */

/* @import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Inter:wght@100..900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* body{
    font-family: "Inter", sans-serif;
} */


/* <----------------------navbar--------------------> */
/* Link{
    color: #FFFFFF;
} */



.header_flex {
    padding: 5px 87px;
    display: flex;
    justify-content: space-between;
    /* gap:950px;   */

}

.header_all {
    background: #1B1C1D;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_text {
    color: #E0D7C8;
    font-family: "Helvetica Now Display", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 9px;
}

.navigatelink {
    color: #E0D7C8;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
    /* font-family: "Helvetica Now Display", sans-serif; */
    font-family: "Poppins", sans-serif !important;
}
.navigatelink span{
    font-weight: 400;
}
.header_logo {
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
    /* width: 15% */
}

button.header_account {
    font-family: "Inter";
    padding: 11px;
    margin: 5px;
    border-radius: 12px;
    /* width: 53%; */
    /* background: black;
    color: white; */
    background: #1B1C1D;
    color: white;
    border: 1px solid #1B1C1D;
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.account_svg {
    margin-left: 12px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1B1C1D;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -100px;
    margin-top: 15px;
    top: 26px;
    border-radius: 16px;
    /* border: 1px solid linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%); */
    border: 1px solid;
    /* border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%); */
    /* border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%); */
}

.fixed-content {
    margin-left: -130px !important;
}

.account-create {
    display: flex;
    justify-content: left;
    margin: 13px 0px 0px 15px
        /* margin: 10px;
        padding: 10px; */
}


.account-create-ican {
    /* width: 140px;
    height: 24px; */
    top: 78px;
    left: 926px;

}

.account-create-heading {
    padding-top: 4px;
    padding-left: 20px;
    /* width: 106px; */
    /* height: 17px; */
    top: 82px;
    left: 960px;
}

.account-create-heading p {
    font-family: "Inter" !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 17px !important;
    letter-spacing: 0em !important;
    text-align: left !important;

}

.account-create-para {
    padding-top: 10px;
    margin-left: 15px;
    font-family: "Inter" !important;
    /* padding: 10px; */
}

.paragraph {
    padding: 5px;
    /* border: 1px solid red; */
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

.account-create-loginSign {
    padding: 20px;
    display: flex;
    justify-content: left
}

.account-create-loginSign .createbutton {
    /* padding: 10px; */
    /* margin-left: 20px; */
    /* padding: 10px 20px 10px 20px; */
    border: 1px solid #FFFFFF;
    background-color: #1B1C1D;
    /* color: #FFFFFF; */
    border-radius: 8px;
    cursor: pointer;
    border-radius: 8px;
    font-family: Inter;
}

.account-create-loginSign .createbutton:hover {
    background-color: #E0D7C8;
    color: #1B1C1D;
    cursor: pointer;
    border-radius: 8px;
    font-family: Inter;
    border: none !important;
    transition: .3s;
}

.account-create-loginSign .loginbutton {
    margin-left: 20px;
    /* padding: 10px 20px 10px 20px; */
    border: 1px solid #FFFFFF;
    background-color: #1B1C1D;
    /* color: #FFFFFF; */
    border-radius: 8px;
    cursor: pointer;
    font-family: Inter;
}

.account-create-loginSign .loginbutton:hover {
    background-color: #E0D7C8;
    color: #1B1C1D;
    cursor: pointer;
    border-radius: 8px;
    font-family: Inter;
    border: none !important;
    transition: .3s;
}
.footer_flext a{
    text-decoration: none !important;
    color: #1B1C1D;
}

button.header_account:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #FFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Inter" !important;
    font-weight: 600;
    font-size: 12px;
}

.dropdown-content a:hover {
    /* background-color: #f1f1f1; */
    color: #1B1C1D;
}


button.header_Hi-En {
    padding: 12px;
    margin: 5px;
    margin-left: 10px;
    border-radius: 40px;
    width: 100%;
    border: none !important;
    /* background: black; */
    /* color: white; */
}
.rr{
    position: initial !important;
    height: 115vh !important;
}
.rr .jk{
    height: 115vh;
    position: relative;
    top: 2.5px !important;
    position: fixed;
    top: 0px;
}
/* <---------------------home------------------> */
/* section2 */

.destiny_1 {
    background-image: url(../../Assest/karmahome1.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    text-align: center;
     background-position: center;
    /* padding: 190px 0px 0px 0px; */
    height: 95vh;
    /* padding-bottom: 260px; */
}





.destiny_title {
    /* font-family: "Helvetica Now Display", sans-serif; */
    font-family: Helvetica-bold;
    font-size: 54px;
    font-weight: 800;
    line-height: 60px;
    text-align: center;
    justify-content: center;
    width: 13em;
    color: #FFFFFF;
    /* box-shadow: 0px 4px 4px 0px #00000040; */

}

.Destiny_paragraf {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    justify-content: center;
    margin-left: 00px;
    color: #FFFFFF;
    width: 100%;
    height: 24px;
    margin-top: 15px;
}

.Destiny_button {
    background: #DE483A;
    border-radius: 12px;
    margin-top: 20px;
    border: 1px solid #DE483A;
    padding: 12px 11px 11px 11px;
    color: #FFFFFF;

}

.Destiny_button_text {

    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 173px;
    height: 27px;
    top: 16px;
    left: 24px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

/* section3 */

.Tracker_flex {
    display: flex;
    justify-content: center;
    gap: 300px;
}

.karmaTracker_text {
    width: 460px;
}

.karmaTracker {
    background: linear-gradient(90deg, #DDD8C2 0%, rgba(255, 255, 255, 0.57) 100%);
    padding: 80px 100px;
    display: block;
    margin: auto;
}

.karmaTracker_heading {
    font-family: "Helvetica Now Display", sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    color: #1B1C1D;
}

.karmaTracker_paragraf1 {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
    color: #464038;
}

.karmaTracker_paragraf2 {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    margin-top: 20px;
    color: #464038;
}

.karmaTracker_img {
    /* width: 408px;  */
    /* height: 470px; */
    /* padding: 0.01px, 0px, 0px, 0px;
margin-right: 100px;
margin-top: 50px;
padding-bottom: 110px;
margin-bottom: 30px; */
}


/* section4 */

.Text_summary {
    padding: 10px 340px;
    display: block;
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.Text_summary_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.Text_summary_1 {
    justify-content: center;
    text-align: center;


}

.Text_summary_paragraf2 {

    width: 52em;

    margin-top: 20px;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    justify-content: center;
    color: #464038;



}

.Text_summary_paragraf1 {
    /* width: 498px; */
    height: 28px;

    font-family: "Inter";
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    justify-items: center;
    margin-top: 80px;
    color: #464038;
}

.Text_summary_title {
    font-family: "Helvetica Now Display", sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #1B1C1D;
    height: 50px;

}


/* section5 */

.usekarma {

    gap: 31px;
    justify-content: center;
    text-align: center;
    padding: 0px 200px;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usekarma_title {
    /* width: 452px;  */
    /* height: 40px; */
    font-family: "Helvetica Now Display", sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    /* margin-left: 250px; */
    margin-top: 100px;
    color: #1B1C1D;
}

.usekarma_paragraf {
    /* width: 561px; */
    /* height: 78px; */

    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #464038;
    /* margin-left: 210px; */
    margin-top: -16px;
    /* margin-left:490px;
  margin-right:490px; */
    width: 62em;
    padding: 0px 240px;
}

.usekarma_img {
    border-radius: 24px;
    margin-top: px;
    margin-bottom: 50px;
    width: 53em;
    padding-left: 20px;
}

/* section6 */

.getdeep_t {
    background: #1B1C1D;
    margin-top: 60px;
}

.getdeep_title {
    /* width: 391px; */
    height: 40px;
    top: 2377px;
    left: 522px;
    font-family: "Helvetica Now Display", sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #E0D7C8;
    padding-top: 60px;
    padding-bottom: 40px;
}

.getdeep {
    background: #1B1C1D;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    /* height: 454px; */
    margin-top: 60px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    /* top: 2317px; */
}

.ab {
    display: flex;
    justify-content: center;
}

.getdeep_text {
    /* border: 0.5px solid #FFFFFF; */
    background-image: url('../../Assest/tred.png');
    background-size: cover;
    background-position: center;
    margin: 10px;
    width: 149px;
    height: 187px;
    top: 2477px;
    left: 197px;
    text-align: center;
    padding-top: 35px;

}

.getdeep_under {
    width: 70px;
    height: 16px;
    top: 2581px;
    left: 250px;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    justify-content: center;
    margin-left: 40px;
    padding-top: 10px;
    /* color: #FFFFFF; */
    color: #E0D7C8;
}


/* section 7 */



.justtake {
    justify-content: center;
    /* text-align: center; */
}

.justtake_flex {
    display: flex;
    justify-content: center;
}

.justtake_title {
    /* width: 589px; */
    height: 40px;
    /* top: 3029px; */
    /* margin-left: 475.5px; */

    font-family: "Helvetica Now Display", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    color: #1B1C1D;
    margin-bottom: 70px;
    margin-top: 70px;

}

.justtake_text11 {
    width: Hug (376px);
    /* margin-left: 138px; */
    /* padding: 30px, 16px, 30px, 16px; */
    border-radius: 24px;
    gap: 10px;
    background: #491AEB;
    padding-left: 20px;
    padding-top: 30px;
    margin-bottom: 70px;
}

.justtake_text12 {
    width: 253px;
    /* height: 154px;  */
    font-family: "Inter";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 10px;
    color: #FFFFFF;
}

.justtake_text21 {
    width: Hug (246px);
    /* height: Hug (328px); */
    left: 434px;
    /* padding: 30px, 16px, 30px, 16px; */
    border-radius: 24px;
    gap: 10px;
    background: #F4F3FA;
    margin-top: 80px;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 10px;
}

.justtake_text22 {
    width: 254px;
    font-family: "Inter";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1B1C1D;
}

.justtake_text31 {
    width: Hug (276px);

    border-radius: 24px;
    gap: 10px;
    background: #FD5B0E;
    margin-left: 20px;
    margin-right: 0px;
    padding-left: 15px;
    padding-top: 30px;
    margin-bottom: 70px;
    padding-right: 10px;
}


.justtake_text32 {
    width: 254px;
    /* height: 139px; */
    font-family: "Inter";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}


.justtake_text41 {
    width: Hug (276px);
    border-radius: 24px;
    gap: 10px;
    background: #FCD1BD;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 15px;
    padding-top: 30px;
    padding-right: 15px;
}

.justtake_text42 {
    width: 254px;
    /* height: 133px; */
    font-family: "Inter";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #1B1C1D;

}



.rahul_title {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;



}

.aditi {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    color: #1B1C1D;
    padding-top: 10px;
    padding-bottom: 10px;



}

.Aarav {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rahul2 {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #1B1C1D;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* section8 */

.your_karma {
    margin-top: 60px;


    background: #1B1C1D;
    margin-bottom: 0px;

}

.your_karma_title {
    font-family: "Helvetica Now Display", sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;



    height: 24px;

    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 20px;

}

.your_karma_button {



    justify-content: center;
    text-align: center;
    border-radius: 40px;

    border: 1px solid #DDD8C2;


    background: #DDD8C2;
    padding: 4px 5px 4px 4px;
    /* margin-left: 660px; */
    margin-top: 40px;
    margin-bottom: 50px;



}

.what {
    justify-content: center;
    text-align: center;
}



.start_button {
    font-family: "Inter";
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
   
    padding: 15px 20px 10px 10px;
    padding-left: 50px;
    padding-right: 50px;

}



/* section9 */

.footer_flext {
    display: flex;
    justify-content: space-between;
}

.footer_all {
    margin: 0px;
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    padding-top: 85px;
    padding-bottom: 45px;
}



.das {
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    margin: 0px;

}
.das hr{
    border-bottom: 1px dashed #1B1C1D;
    opacity: 50%;
}

/* ------------------------- */

.karma_tracker_flex {
    display: flex;
    justify-content: space-between;

}

.karmaTracker_all {

    justify-content: center;
    text-align: center;
    /* margin: 0px 100px 70px 100px; */
    padding: 50px 0px 60px 0px;




}

.connect_text {
    display: flex;
}

#p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.karmatraacker_svg {
    padding-left: 11px;
}

.svg_ican {
    width: 17px;
    /* height: 20px;
    top: 4097px;
    left: 1296px; */

}

.footer_main {
    background: #E0D7C8;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    padding: 0px 100px;
    /* margin-bottom: -70px; */
}

.Home_1 {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.about_1 {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.lets {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.karmatrackerflex_disclaimer {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    /* text-align: left; */

}



/* <----------------Question1----------------> */

.parentlordshiva {
    /* background: #FBFBF8;
    height: 100vh; */
    margin-top: 4.4rem;
}

.lordshiva {
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    background: #FBFBF8;
    height: 100%;
}

.lordshivaleft {
    width: 47%;
    background-image: url('../../../src/Assest/gy.jpg');
    /* width: 100%; */
    background-size: cover;
    background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
   /* position: fixed;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px; */
}

.sublord {
    margin: 73px 100px 0px 95px
}

.sublord .img {
    width: 33%;
}

.lordDesc {
    margin-top: 60px;
    margin-right: 27px;
}

.sublord .paraIns {
    font-family: "Inter";
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}
.sublord .paraChoose {
    font-family: "Inter";
    font-size: 15px;
    /* font-weight: 400; */
    line-height: 18.36px;
    /* letter-spacing: 0em; */
    text-align: left;
    margin-top: 15px;
    /* padding-right: 128px; */
    color: #464038;
    width: 70%;
}

/* .sublord .paraChoose {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 15px;
    padding-right: 128px;
} */



.numberquestion {
    display: flex;
    margin-top: 18px;
}

.numberquestion .imgquestion {
    /* width: Fill (398px);
    height: Hug (22px);
    gap: 10px; */
    width: 17px;
}
.singer p{
  color: #1B1C1D;
  font-weight: 400;
  font-size: 20px;
  font-family: "Inter";
}
.numberquestion .paraquestion {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 10px;
    /* margin-top: 15px; */
}

.lordshivaright {
    width: 60%;
    background-image: url(../../Assest/lordshiva1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lordahivaright {
    margin: 30px;
}

.lordquestion {
    margin-top: 50px;
    margin-left: 55px
}

.headingright {
    /* border: 1px solid red; */
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    /* font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left; */
}

.lordsubquestion {
    margin-top: 60px;
    width: 70%;
}

.lordsubquestion .headingheading {
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    /* background: #000; */
}

.lordquestionflex {
    border: 1px solid #E3E3E3;
    display: flex;
    align-items: center;
    text-align: start;
    /* max-width: 595px; */
    width: 100%;
    /* height: Hug (75px); */
    padding: 10px;
    border-radius: 8px;
    height: 72px !important;
    /* border: 1px; */
    gap: 16px;
    /* margin-bottom: 15px; */
    margin-top: 18px;
    /* color: white */
    background: #FFFFFF;
    cursor: pointer;

}
.checked{
   
    background: linear-gradient(180deg, #93526E 0%, #93526E 100%);

    color:white;
    box-shadow: 3px 3px 4px 1px rgb(78, 69, 78);
}
.checked1{
    color: white !important;
}
/* .lordquestionflex:hover {
    background: red;
   
} */

.lordquestionflex:hover {
    background: linear-gradient(180deg, #93526E 0%, #93526E 100%);
 
    transition: .3s;
}

.lordquestionflex:hover p{
    color: white;
    transition: .3s;
}

.borderA:hover {
    /* color: linear-gradient(180deg, #93526E 0%, #93526E 100%);;
    background: white */
}


/* .lordsubquestion{
    display: flex;
    justify-content: end;
} */
.questionbutton {
    display: flex;
    justify-content: end;
    padding: 20px 0px;
}

.questionbutton button {
    /* width: Fixed (156px);
    height: Hug (55px); */
    top: 474px;
    left: 439px;
    padding: 18px, 10px, 18px, 10px;
    border-radius: 12px;
    gap: 10px;
    padding: 15px;
    width: 156px;
    background: #DDD8C2;
    border: 1px solid #DDD8C2;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    margin-top: 32px;
}

/* <------------ Question2 -------------> */

.question2lordshivaright {
    width: 60%;
    background-image: url(../../Assest/lordshiva2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




/* <------------- Question3 --------------> */

.question3lordshivaright {
    width: 60%;
    background-image: url(../../Assest/lordshiva3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* <---------------------Karmascore--------------------> */
.karmaScore {
    background-image: url(../../Assest/Group3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 4.4rem;
}

.karmaSubscore {
    /* width: 76%; */
    padding: 50px 80px;
    height: 100vh;
}

.scorelogo-img {
    width: 132px;
    height: 132px;
    top: 134px;
    left: 100px;
}

.scorelogo-heading {
    padding: 45px 20px
}

.scorelogo-heading h1 {
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;

}

.scorelogo {
    display: flex;

}

.scorelogo {
    color: white;
    /* margin-top: 40px; */
}
.percentage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94px;
    height: 94px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
}
.percentage p{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    font-family: "Inter";
}
.scoredes {
    display: flex;
    justify-content: flex-start;
    margin-top: 70px
}

.scoredes .subscoredes-para {
    /* width: 626px; */
    height: 106px;
    width: 76%;
    top: 379px;
    left: 100px;
    gap: 16px;

}
.hh .ytyt{
    width: 92%;
}
.hh{
   justify-content: flex-start !important;
   margin-top: 48px !important;
}
.subscoredes-para h1 {
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 36px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
.subecoredes_parageaph{
  padding-top: 26px;
}

.subscoredes-para p {
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}

.subscoredes-img {
    /* width: 25%; */
    /* margin-left: 20px; */
    display: block;
    margin: auto;
}

.horizontal {
    padding: 0px 0px;
    margin: 0px 0px;
    /* padding: 15px 0px;
    width: 100%; */
}

.horizontal hr {
    /* height: 1px; */
    /* width: 1378px; */
    /* padding: 10px 10px; */
}

.scorecontact {
    text-align: center;
}

.scorecontact .scorecontact-button {
    width: 346px;
    height: 60px;
    top: 564px;
    left: 547px;
    padding: 18px, 32px, 18px, 32px;
    border-radius: 12px;
    gap: 10px;
    background: #E0D7C8;
    font-family: "Inter";
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    outline: none;
    margin-top: 40px;
}
.scorecontact .scorecontact-a{
    font-weight: 600;
    font-size: 20px;
    font-family: "Inter";
    text-transform: uppercase;
}
.scorecontact-button p {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    /* background: #FFFFFF; */
    text-align: center;

}

.scorecontact .scorecontact-a {
    /* width: 176px;
    height: 24px;
    top: 648px; 
    left: 632px; */
    padding: 20px;

}

.scorecontact-a a {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

/* <-------------------karmascore1-------------> */
.karmaScore1 {
    background-image: url(../../Assest/Group2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* <----------------thanku-------------------> */

.thanku {
    background-image: url(../../Assest/thanku.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.subthanku {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 107px; */
    height: 100vh;

}

.thanku-caintent {
    /* display: block;
    margin: auto; */
}

.thanku-caintent {
    /* width: 717px; */
    height: 304px;
    border-radius: 5px;
    /* border: 1px solid red; */

}

.svgican {
    margin: 40px;
    text-align: center;
    /* width: 65px;
    height: 60px;
    top: 325px; */
    /* left: 688px; */

}

.thanku-heading {
    color: #1B1C1D;

    background:#DDD8C2;
    text-align: center;
    font-family: "Inter";
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    /* text-align: left; */
    padding: 20px 30px;
    margin: 10px;
    border-radius: 5px;
    
}


.thanku-para{
    font-family: "Inter";
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}

/* span#bold-para {
    font-size: 21px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    font-family: "Inter";
} */

#bold-para{
    /* font-weight: 600; */
    font-family: "Inter";
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.thanku-contact {
   color: #FFFFFF;
   font-size: 24px;
   font-family: "Inter";
   text-align: center;
   margin-top: 35px;
   font-weight: 300;
   text-decoration: underline;
}
@media only screen and (max-width:540px){
    .fixed-content{
        margin-left: 0px !important;
    }
}
